In [4]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json

In [1]:
alias = {}
styles = {}
def plot_graph(xlabel='', ylabel='', xs=[[]], ys=[[]], labels=[], color=None, 
               yscale='log', xscale=None, ylim=None, xlim=None, saveto=None, xticks=None, yticks=None,
               loc='out', **kw):
    
    fig, ax = plt.subplots()
    ax.set_xlabel(xlabel)
    ax.set_ylabel(ylabel)
    ax.set_yscale(yscale)
    font = {'family': 'monospace',
            'weight': 'bold',
            'size': 22}
    plt.rc('font',**font)
    plt.rc("text", usetex=True)
    if xscale is not None:
      ax.set_xscale(xscale)
    if ylim is not None:
        ax.set_ylim(ylim)
    if xlim is not None:
        ax.set_xlim(xlim)
    if xticks is not None:
      print(xticks)
      plt.xticks(xticks)
    if yticks is not None:
      plt.yticks(yticks)

    n = len(xs)
    for i in range(n):
        x = xs[i]
        y = ys[i]
        if styles.get(labels[i]) is not None:
            plt.plot(x, y, styles[labels[i]], label=labels[i], markersize=5)
        else:
            # ax.scatter(x, y)
            ax.plot(x, y, label=labels[i])
    ax.legend(labels)
    if loc == 'in':
      ax.legend(loc='best', fancybox=True, framealpha=0, prop={'size': 14})
    else:
      bbox_to_anchor = kw.get("bbox_to_anchor", (0.5, 1.4))
      ax.legend(loc='upper center', bbox_to_anchor=bbox_to_anchor, ncol=4, fancybox=True, prop={'size': 16})
    plt.grid(True)
    if saveto is not None:
        fig.savefig(saveto, bbox_inches='tight')

In [2]:
def load_df(pth):
    mapname = pth.split("/")[-1]
    df = pd.read_csv(pth, sep="\t")
    df["map"] = mapname.removesuffix(".map.csv")
    df["scnt"] += 1
    return df

In [5]:
rect = pd.concat([load_df("output/rect/"+i) for i in os.listdir("output/rect")])
jps2 = pd.concat([load_df("output/jps2/"+i) for i in os.listdir("output/jps2")])

In [6]:
rect.head()

,id,alg,expd,gend,touched,time,cost,scnt,sfile,map
0,0,rect,448,447,1650,1915.59,429497.0,8726,./endmaps_8.map.scen,endmaps_8.map.log
1,1,rect,431,430,1611,1573.00,429497.0,8594,./endmaps_8.map.scen,endmaps_8.map.log
2,2,rect,442,441,1653,1521.44,429497.0,8919,./endmaps_8.map.scen,endmaps_8.map.log
3,3,rect,451,450,1728,1512.91,429497.0,9334,./endmaps_8.map.scen,endmaps_8.map.log
4,4,rect,438,437,1614,1350.22,429497.0,8758,./endmaps_8.map.scen,endmaps_8.map.log

In [7]:
jps2.head()

,id,alg,expanded,inserted,updated,touched,surplus,time,pcost,plen,map,scnt
0,0,jps2,2,14,0,13,12,479.987,30.6274,1,endmaps_8.map.log,112089
1,1,jps2,2,10,0,9,8,30.099,24.0000,1,endmaps_8.map.log,3946
2,2,jps2,2,35,0,34,33,708.645,27.3137,1,endmaps_8.map.log,141786
3,3,jps2,2,19,0,18,17,56.480,19.3137,1,endmaps_8.map.log,5537
4,4,jps2,2,33,0,32,31,541.889,30.6274,1,endmaps_8.map.log,141214

In [14]:
df = pd.DataFrame.merge(rect, jps2, on=["id","map"])
df.head()

TypeError: merge() got an unexpected keyword argument 'other'

In [9]:
tcost = {}
scnt = {}
for m in set(jps2["map"].values):
    tcost[m] = (jps2[jps2["map"] == m]["time"] / rect[rect["map"] == m]["time"]).describe()
    scnt[m] = (jps2[jps2["map"] == m]["scnt"] / rect[rect["map"] == m]["scnt"]).describe()